@keyframes scanlines {
    0% {background-position: 0 0, 0 0}
    100% {background-position: 0 0, 0 50px}
}



body, html {
    background: black;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgb(255, 182, 66);
}

.content {
    position: absolute;
    height: 500px;
    width: 788px;
    top: 100px;
    left: calc(50% - 394px)
}

.title {
    background: radial-gradient(green, transparent),radial-gradient(darkgray, transparent 70%), #000;
    background-size: 1vh 1vh;
    animation: scanlines 5s infinite linear forwards;
}

.audiobox {
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(90deg, #000, #222 25%, #222, #222 75%, #000 100%);
    padding: 2px;
    border-radius: 2px;
    width: 100%;

}

.player {
    width: 25%
}

.links {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}
